* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: lcd;
    src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
    background-color: black;
}

button {
    font-size: 5rem;
}

button#add,
#sub,
#mul,
#div,
#clear,
#comma,
#enter {
    color: aqua;
}

#add:hover,
#sub:hover,
#mul:hover,
#div:hover,
#clear:hover,
#comma:hover,
#enter:hover {
    color: green;
    font-weight: bolder;
}


main input {
    width: 100%;
    font-size: 4rem;
    margin-bottom: 10px;
    background-color: black;
    color: limegreen;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid yellow;
    border-radius: 4px;
}

main section#keyBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10rem, auto);
    grid-gap: 0.2rem;

    .col-1 {
        grid-column: span 1;
    }

    .col-2 {
        grid-column: span 2;
    }

    .col-3 {
        grid-column: span 3;
    }

    .col-4 {
        grid-column: span 4;
    }

    .col-5 {
        grid-column: span 5;
    }

    .col-6 {
        grid-column: span 6;
    }

    .row-2 {
        grid-row: span 2;
    }

    .row-3 {
        grid-row: span 3;
    }

    .row-4 {
        grid-row: span 4;
    }

    .row-5 {
        grid-row: span 5;
    }


